<footer class="site-footer">
    <div class="container footer-inner">
        <div class="footer-col">
            <a href="index.html" class="logo-footer">
                <span class="logo-icon">A</span>uraCraft
            </a>
            <p>Nơi khơi nguồn sáng tạo với những sản phẩm handmade độc đáo, mang đậm dấu ấn cá nhân của bạn.</p>
        </div>
        <div class="footer-col">
            <h4>Liên kết nhanh</h4>
            <a href="index.html">Trang chủ</a>
            <a href="products.html">Sản phẩm</a>
            <a href="customizer.html">Thiết kế riêng</a>
            <a href="#">Về chúng tôi</a>
        </div>
        <div class="footer-col">
            <h4>Chính sách</h4>
            <a href="#">Chính sách giao hàng</a>
            <a href="#">Chính sách đổi trả</a>
            <a href="#">Bảo mật thông tin</a>
        </div>
        <div class="footer-col">
            <h4>Kết nối với chúng tôi</h4>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>© 2026 AuraCraft. All rights reserved.</p>
        </div>
    </div>
</footer>
